

.body {
    background-color: #FFF;
    font-family: "Roboto",
        sans-serif;
    color: #434455;
}

p, h1, h2 h3 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}



.header {
    border-bottom: 1px solid #e7e9fc
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

.studio {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
    flex-grow: 1;
    justify-content: center;
}

.nav-link {
    display: inline-block;
    padding: 24px 0;
    color: var(--navyblue, #2E2F42);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;

}



.header-address {
    font-style: normal;
}

.header-contacts {
    display: flex;
    gap: 40px;
}

.contacts {
    color: #434455;
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;

}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}



.hero-section {
    background: var(--navyblue, #2E2F42);
    flex-shrink: 0;
    padding: 188px 0;
}

.hero-tittle {
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    color: var(--white, #FFF);
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    margin-bottom: 48px;
}

.button-order {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    align-self: center;
    margin: 0 auto;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    padding: 16px 32px;
}

.button-order:hover,
.button-order:focus {
    background-color: #404BBF;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.benefit-card {
    flex-basis: calc((100% - 72px) / 4);
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.benefit-tittle {
    color: var(--navyblue, #2E2F42);
    font-family: "Roboto",
        sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px
}

.benefits-list-text {
    color: var(--slate, #434455);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}



.section-our-team {
    flex-shrink: 0;
    background: var(--cloud, #F4F4FD);
}

.tittle-nonprimary {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: "Roboto",
        sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.personal-card {
    flex-basis: calc((100% - 72px) / 4);
    background: var(--white, #FFF);
    max-width: fit-content;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 32px 0;
}

.team-names {
    text-align: center;
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: "Roboto",
        sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.team-position {
    text-align: center;
    color: var(--slate, #434455);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-bottom: 32px;
}



.portfolio-list {
    display: flex;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-card {
    width: calc((100% - 48px) / 3);
    background: var(--WHITE, #FFF);
    max-width: fit-content;
}

.portfolio-text {
    border-top: none;
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;
}

.portfolio-tittle {
    color: var(--navyblue, #2E2F42);
    font-family: "Roboto",
        sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin: 0;
    margin-bottom: 8px;
}

.portfolio-description {
    color: var(--slate, #434455);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-bottom: 32px;
}



.footer {
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
    padding: 100px 0
}

.logo-link {
    display: inline-block;
    margin-bottom: 16px;
}

.studio-footer {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    color: var(--cloud, #F4F4FD);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

